body
  width: auto

//////////////////////////////////
/////Lightning Design Resets/////
////////////////////////////////
.slds-global-header_container
  position: inherit

.customDropdown
  padding: 6px 0 0 3px

////////////////////////////
/////Hide & Show Rules/////
//////////////////////////
.hide-element
  display: none

.show-element
  display: inital
